.catalog__country {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-header_country{
	display: inline;
}

.country {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.country__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.country__btn {
  position: relative;
  border-radius: 50%;
  border: none;
  -webkit-transition: border, -webkit-box-shadow .1s ease-in-out;
  transition: border, -webkit-box-shadow .1s ease-in-out;
  -o-transition: border, box-shadow .1s ease-in-out;
  transition: border, box-shadow .1s ease-in-out;
  transition: border, box-shadow .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
}

.country__btn.is-active::after {
  position: absolute;
  content: '';
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  border-radius: 50%;
  border: 2px solid var(--color-purple);
}

.france {
  background: -webkit-gradient(linear, left top, right top, color-stop(-20%, #00267f), color-stop(28.26%, #00267f), color-stop(28.26%, #fff), color-stop(74%, #fff), color-stop(74%, #f31830), color-stop(120%, #f31830));
  background: -o-linear-gradient(left, #00267f -20%, #00267f 28.26%, #fff 28.26%, #fff 74%, #f31830 74%, #f31830 120%);
  background: linear-gradient(to right, #00267f -20%, #00267f 28.26%, #fff 28.26%, #fff 74%, #f31830 74%, #f31830 120%);
}
.germany {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(33.35%, #000), color-stop(33.35%, #d00), color-stop(66.65%, #d00), color-stop(66.65%, #ffce00));
  background: -o-linear-gradient(top, #000 33.35%, #d00 33.35%, #d00 66.65%, #ffce00 66.65%);
  background: linear-gradient(to bottom, #000 33.35%, #d00 33.35%, #d00 66.65%, #ffce00 66.65%);
}
.italy {
	background: -webkit-gradient(linear, left top, right top, color-stop(27.5%, #009246), color-stop(27.5%, #fff), color-stop(72.5%, #fff), color-stop(72.5%, #ce2b37));
	background: -o-linear-gradient(left, #009246 27.5%, #fff 27.5%, #fff 72.5%, #ce2b37 72.5%);
	background: linear-gradient(to right, #009246 27.5%, #fff 27.5%, #fff 72.5%, #ce2b37 72.5%);
}
.russia {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(33.333%, #fff), color-stop(33.333%, #0039a6), color-stop(66.667%, #0039a6), color-stop(66.667%, #d52b1e));
  background: -o-linear-gradient(top, #fff 33.333%, #0039a6 33.333%, #0039a6 66.667%, #d52b1e 66.667%);
  background: linear-gradient(to bottom, #fff 33.333%, #0039a6 33.333%, #0039a6 66.667%, #d52b1e 66.667%);
}
.belgium {
	background: -webkit-gradient(linear, left top, right top, color-stop(27.5%, #000), color-stop(27.5%, #ffd90c), color-stop(72.5%, #ffd90c), color-stop(72.5%, #f31830));
	background: -o-linear-gradient(left, #000 27.5%, #ffd90c 27.5%, #ffd90c 72.5%, #f31830 72.5%);
	background: linear-gradient(to right, #000 27.5%, #ffd90c 27.5%, #ffd90c 72.5%, #f31830 72.5%);
}

.catalog__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.painter {
  display: none;
}

.painter.is-active {
  display: block;
}

.painter__img {
  width: 100%;
}

.no-painters__header {
  margin-bottom: 6px;
}

.painter__header {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33em;
}

.painter__descr-data {
  font-size: 12px;
  line-height: 1.33em;
  color: #999;
  margin-bottom: 5px;
}

.painter__descr {
  font-size: 16px;
  margin-bottom: 0;
  line-height: 2em;
}

.x-painter {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ececec;
}

.x-painter__descr {
  font-weight: 600;
  line-height: 1.35em;
  color: #666;
}

.no-painters__link,
.painter__link {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.35em;
  color: var(--color-amethyst);
}

.no-painters__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.no-painters__img {
  margin-right: 25px;
  position: relative;
  display: block;
  border: 2px solid #b7b7b7;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.no-painters__img::after {
  position: absolute;
  content: '';
  background-color: #b7b7b7;
  z-index: 2;
}

/* accordion-container */

.ui-accordion-header {
  position: relative;
  margin: 0 0 -1px 0;
  background-color: #fff;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  border-left: none;
  border-right: none;
  border-radius: 0;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  cursor: pointer;
}

.ui-accordion-content-active:last-child {
  border-bottom: 1px solid #cacaca;
}

.accordion__header {
  margin: auto;
  line-height: 1.6em;
  font-weight: 600;
  color: #333;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.accordion__list {
  display: none;
}

.accordion__list.is-active {
  display: block;
}

.accordion__list.columns {
  -webkit-column-fill: auto;
     -moz-column-fill: auto;
          column-fill: auto;
}

.accordion__list.no-painters.is-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.accordion__item.no-painters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.accordion__button {
  position: relative;
  border: 1px solid transparent;
  background: none;
  line-height: 2em;
  text-align: start;
  -webkit-transition-property: background-color, color, border;
  -o-transition-property: background-color, color, border;
  transition-property: background-color, color, border;
  -webkit-transition-duration: .2s;
       -o-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}


.accordion__button.is-active {
  color: var(--color-purple);
  border-bottom: 1px solid transparent;
  background: none;
}


.ui-accordion-header.ui-state-active .accordion__header {
  color: #7943a4;
  background: none;
  z-index: 3;
  -webkit-transition: border 1.2s ease-in-out;
  -o-transition: border 1.2s ease-in-out;
  transition: border 1.2s ease-in-out;
}

.ui-accordion-header.ui-state-active {
  border-top: 1px solid #7943a4;
  border-bottom: 1px solid #7943a4;
}


  .ui-icon {
  position: absolute;
  top: 50%;
  right: 0;
  background-position: center center;
  background-image: none;
  background-color: #ececec;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  -webkit-transition-property: border-color, background-color, -webkit-transform;
  transition-property: border-color, background-color, -webkit-transform;
  -o-transition-property: transform, border-color, background-color;
  transition-property: transform, border-color, background-color;
  transition-property: transform, border-color, background-color, -webkit-transform;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}


.ui-icon::after,
.ui-icon::before {
  content: '';
  position: absolute;
  z-index: 20;
  top: 50%;
  width: 1px;
  background-color: #666;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
}

.ui-icon::after {
  right: calc(50% - .25px);
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.ui-icon::before {
  right: calc(50% + .25px);
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.ui-state-active .ui-icon {
	background-image: none;
	background-color: var(--color-hero-btn-hover);
}

.ui-state-active .ui-icon {
  border-color: var(--color-amethyst);
  -webkit-transform: translateY(-50%) rotate(0deg);
      -ms-transform: translateY(-50%) rotate(0deg);
          transform: translateY(-50%) rotate(0deg);
}

/* 1201 + */
@media (min-width: 1201px) {
  .country__btn:focus,
  .country__btn:hover {
    -webkit-box-shadow: 0px 0px 20px rgba(157, 92, 208, 0.7);
            box-shadow: 0px 0px 20px rgba(157, 92, 208, 0.7);
  }

  .catalog__country {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .catalog__painter {
    width: calc(50% - 50px);
  }

  .catalog__accordion {
    width: 50%;
  }

  .accordion__button:focus {
    color: var(--color-white);
    background-color: var(--color-amethyst);
  }

  .accordion__button:hover {
    color: var(--color-amethyst);
    border-bottom: 1px solid var(--color-amethyst);
    background: none;
  }

  .ui-accordion-header:hover .accordion__header {
    color: #9d5cd0;
    background: none;
  }

  .ui-accordion-header:focus .accordion__header {
    display: inline;
    color: #fff;
    background-color: #9d5cd0;
  }

  .ui-accordion-header:hover {
    border-top: 1px solid #9d5cd0;
    border-bottom: 1px solid #9d5cd0;
    z-index: 2;
  }

  .ui-state-focus .ui-icon,
  .ui-state-hover .ui-icon {
    background-image: none;
    background-color: var(--color-hero-btn-hover);
  }

  .accordion__list.is-active {
    padding: 25px 0;
  }

  .accordion__list.columns {
    -webkit-columns: 3;
       -moz-columns: 3;
            columns: 3;
  }

  .no-painters__img {
    height: 190px;
    max-width: 275px;
  }

  .no-painters__img::after {
    top: 12px;
    right: 12px;
    bottom: 12px;
    left: 12px;
  }

  .no-painters__text {
    max-width: 275px;
  }
}

/* 1200 - */
@media (max-width: 1200px) {
  .country__btn:active {
    border: 2px solid var(--color-purple);
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .accordion__button:active {
    color: var(--color-purple);
    border-bottom: 1px solid transparent;
    background: none;
  }

  .ui-button:active .ui-icon {
    background-image: none;
    background-color: var(--color-hero-btn-hover);
  }

  .ui-button:active .ui-icon {
    border-color: var(--color-amethyst);
    -webkit-transform: translateY(-50%) rotate(0deg);
        -ms-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
  }
}
/* 901 - 1200 */
@media (min-width: 901px) and (max-width: 1200px) {
  .catalog__country {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .catalog__painter {
    width: calc(50% - 25px);
  }

  .catalog__accordion {
    width: calc(50% - 25px);
  }

  .accordion__list.is-active {
    padding: 24px 0;
  }

  .accordion__list.columns {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2;
  }

  .no-painters__img {
    height: 130px;
    max-width: 189px;
  }

  .no-painters__img::after {
    top: 7px;
    right: 7px;
    bottom: 7px;
    left: 7px;
  }

  .no-painters__text {
    max-width: 223px;
  }
}

/* 601 - 900 */
@media (min-width: 601px) and (max-width: 900px) {
  .container.catalog {
    margin-bottom: 60px;
  }

  .catalog__country {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .catalog__descr {
    margin-bottom: 21px;
  }

  .accordion__list.is-active {
    padding: 25px 0;
  }

  .accordion__list.columns {
    -webkit-columns: 3;
       -moz-columns: 3;
            columns: 3;
  }

  .no-painters__img {
    height: 189px;
    max-width: 275px;
  }

  .no-painters__img::after {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
  }

  .no-painters__text {
    max-width: 275px;
  }
}



/* 900 - */
@media (max-width: 900px) {
  .catalog__painter {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .catalog__accordion {
    width: 100%;
    margin-bottom: 52px;
  }

  .catalog__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* 901 + */
@media (min-width: 901px) {
  .container.catalog {
    margin-bottom: 82px;
  }

  .country {
    gap: 50px;
  }

  .catalog__descr {
    max-width: 1080px;
    margin-bottom: 39px;
  }

  .catalog__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/* 900 - */
@media (max-width: 900px) {
  .country {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

/* 601 + */
@media (min-width: 601px) {
  .catalog__header {
    margin-bottom: 15px;
  }

  .section-header_country {
    margin-bottom: 0;
    margin-right: 40px;
  }

  .accordion__header {
    font-size: 24px;
  }

  .ui-icon {
    width: 50px;
    height: 50px;
  }

  .ui-icon::after,
  .ui-icon::before {
    height: 12px;
  }

  .ui-accordion-header {
    padding: 38px 100px 38px 0;
  }

  .country__btn {
    width: 46px;
    height: 46px;
  }

  .no-painters__header {
    font-size: 24px;
  }

  .no-painters__descr {
    line-height: 1.4em;
    margin-bottom: 5px;
  }

  .x-painter {
    min-height: 470px;
    margin-bottom: 30px;
  }

  .x-painter__img {
    width: 236px;
    height: 236px;
  }

  .x-painter__descr {
    font-size: 24px;
  }

  .painter {
    margin-bottom: 10px;
  }

  .painter__img {
    margin-bottom: 21px;
  }

  .painter__header {
    margin-bottom: 10px;
  }
}
/* 600 -  */
@media (max-width: 600px) {
  .container.catalog {
    margin-bottom: 52px;
  }

  .catalog__header {
    margin-bottom: 20px;
  }

  .section-header_country {
    margin-right: 0;
    margin-bottom: 12px;
  }
  .accordion__header {
    font-size: 18px;
  }

  .accordion__list.is-active {
    display: block;
    padding: 22px 0 17px;
  }

  .ui-icon {
    width: 30px;
    height: 30px;
  }

  .ui-icon::after,
  .ui-icon::before {
    height: 8px;
  }

  .ui-accordion-header {
    padding: 22px 100px 22px 0;
  }

  .accordion__list.columns {
    -webkit-columns: 1;
       -moz-columns: 1;
            columns: 1;
  }

  .country__btn {
    width: 32px;
    height: 32px;
  }

  .country {
    width: 100%;
  }

  .catalog__descr {
    display: none;
  }


  .no-painters__img {
    height: 130px;
    max-width: 275px;
  }

  .no-painters__img::after {
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
  }

  .no-painters__text {
    max-width: 175px;
  }

  .no-painters__header {
    font-size: 18px;
  }

  .no-painters__descr {
    line-height: 1.4em;
    margin-bottom: 5px;
  }

  .x-painter {
    height: 183px;
    margin-bottom: 20px;
  }

  .x-painter__img {
    height: 107px;
  }

  .x-painter__descr {
    font-size: 18px;
  }


  .painter__img {
    margin-bottom: 11px;
  }

  .painter__header {
    margin-bottom: 15px;
  }
}
